<modal-template>
  <div headerText class="color-white">Change password</div>
  <div modalBody class="full-width flex flex-col">
    <form
      [formGroup]="changePassForm"
      (ngSubmit)="onSubmit()"
      id="change_pass_form"
    >
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Current password</mat-label>
        <input matInput type="password" formControlName="currentpassword" />
        <mat-error>{{ errorObservers$.currentpassword | async }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label> Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error>{{ errorObservers$.password | async }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
        <mat-error>{{ errorObservers$.confirmPassword | async }}</mat-error>
      </mat-form-field>
    </form>
  </div>
  <div footerItems class="flex" style="gap: 10px">
    <button
      mat-stroked-button
      color="primary"
      type="button"
      (click)="closeModal()"
    >
      Cancel
    </button>
    <button
      primaryButton
      mat-raised-button
      color="accent"
      type="submit"
      form="change_pass_form"
    >
      Save
    </button>
  </div>
</modal-template>
