:host {
  padding: 14px 24px;
  background-color: #ffffff;
  display: flex;
  gap: 4px;
  justify-content: space-between;
}
.title-container {
  h4 {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    color: #242424;
  }
}

::ng-deep .title-container [subtitle] {
  font-size: 0.75rem;
  color: #383838;
  margin-top: 4px;
}
